/* Start style  all */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* End style  all */

/* Start style  content nav*/
header{
    position: fixed;
    width: 100%;
}
nav{
    background-color: #F47120;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.logo img{
    Width :100px;
    padding-left: 10px;
}
.navbar{
    position: relative;
}
.icons{
    display: flex;
    justify-content: space-between;
}
/* End style  content nav*/

/* Start style  icon nav */
.burgerIcon,.shoppingCart{
   font-size: 25px;
    color: white;
    padding-right: 20px;
}

/* End style  icon nav */

/* Start style  nav link */
.navLinks{
    list-style: none;
    background-color:rgb(0,0,0,1);
    width: 200px;
    height: 213px;
    position: absolute;
    top: 48.1px;
    right:0px;
    opacity: 0;
    transition:right ease-in-out 0.5s,opacity ease-in-out 0.3s;
}
.navLinks a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 13px;
    font-size: 14px;
    font-weight: 900;
    color: #F47120;
    letter-spacing: 3px;
}

.active{
    opacity: 1;

}
/* End style  nav link */
#home{
    background-image: url("../assets/home.png");
     background-size: cover;
    position: relative;
    z-index:-1;
   top: 70px;
}

#home .title-home{
    color: #fff;
    padding-left: 20px;
    padding-top: 30px;
    letter-spacing: 3px;
    font-size: 30px;
}
#home .title-resturaunt{
    color: #F47120 ;
    padding-left: 20px;
    letter-spacing: 3px;
    font-size: 70px;
}
/* End style  title in home page */

/* Start style  button go to menu */
#home .btn{
    background-color: #F47120;
    padding:10px 15px;
    border: none;
    outline: none;
    margin: 10px 0 10px 15px;
    border-radius: 6px;
}
#home .btn a{
    text-decoration: none;
    font-size: 21px;
    color: #fff;
}
/* End style  button go to menu */

/* Responsive Tables */
@media (min-width:768px) and (max-width:1023px){
    nav{
        height: 100px;
    }
    .logo img{
        Width :120px;
    }
    .navLinks{
        width: 300px;
        height:431px;
        top: 63px;
    }
    .navLinks a{
        padding: 29px;
        font-size: 25px;
    }
    .burgerIcon,.shoppingCart{
        font-size: 30px;
        padding-right: 30px;
    }
    #home{
        height: 458.5px;
    }
    #home .title-home{
        
        font-size: 70px;
        line-height: 1.9;
    }
    #home .title-resturaunt{
        font-size: 100px;
        
    }
    #home .btn{
        width: 26%;
        margin-left: 20px;
        margin-top: 40px;
        padding: 25px;
    }
    #home .btn a{
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    }
    /* Responsive Mobile */
@media   (min-width:1024px){
    .navbar{
        display: flex;
        width: 60%;
        margin-left: 70px;
    }
    .navLinks{
        opacity: 1;
        position: static;
        display: flex;
        margin-left: -72px;
        height: 0px;
        right: 0;
        transition: none;
        background-color: black;
    }
    .navLinks li{
        opacity: 1;
        display: flex;
        
    }
    .navLinks a{
        color: white;
        width: 135px;
        padding: 13px 10px;
    }
.navLinks li  a:hover{
        color: black;
        transition: all 1s ease;
    }
    .logo{
        width: 40%;
        margin-left:30px;
    }
    
    .burgerIcon{
        opacity: 0;
    }
    #home{
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding-top: 90px;
        top: 60px;
    }
    #home .title-home{
        font-size: 100px;
    }
    #home .title-resturaunt{
        font-size: 150px
    }
    #home .btn{
        width: 16%;
        margin-left: 20px;
        margin-top: 50px;
    }
    #home .btn a{
        font-size: 25px;
    }
}

/* Start About Us Section */
#about-us{
    margin: 5%;
    margin-top: 25%;
    display: flex;
    font-family: Roboto, sans-serif;
}
#about-us .chef{
    width:150px;
    height: 220px;
}
#about-us .text{
    margin-left: 10px;
    margin-top: 20px;
}
#about-us .text h1{
    color: #f47120;
    padding-bottom: 5%;
}
#about-us .text p{
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
@media (min-width:768px){
    #about-us{
        margin: 3% 5%;
        margin-top: 15%;
    }
    #about-us .chef{
        width:250px;
        height: auto;
    }
    #about-us .text{
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        line-height: 1.8;
    }
    #about-us .text h1{
        font-size: 40px;
    }
    #about-us .text p{
        font-size: 21px;
        font-weight: 500;
    }
}
@media (min-width:1024px){
    #about-us{
        margin: 2% 15%;
        margin-top: 10%;
    }
    #about-us .chef{
        width:300px;
        height: 350px;
    }
    #about-us .text{
        margin-top: 5%;
    }
    #about-us .text h1{
        font-size: xx-large;
    }
    #about-us .text p{
        font-size: 18px;
        font-weight: 500;
    }
}
/* End About Us Section */
